# Getting the tweets with respect to  Airlines from the Twitter

In [2]:
import tweepy
import csv
import json
import pandas as pd

In [3]:
Access_token = "218099701-8V5hnDctBxVfnLiDJ7cfEgMkV7zRlKypPEqF5rqO"
Access_token_secret = "b5WTg5n9Tnv9YYIomWG1mZLe44ivXrI8nGYDPiWOTyFXX"
API_secret_key ="KdOlLZbuvVkTmHa4XxWuIjjR4Hc33ljwB3VkRdkh2JvLM64y6f"
API_key="ZW6Om6esTswnnI631BVtR2dFl"

In [4]:
auth = tweepy.OAuthHandler(API_key, API_secret_key)
auth.set_access_token(Access_token, Access_token_secret)
api = tweepy.API(auth)

In [5]:
import datetime as dt
from dateutil.relativedelta import relativedelta
print(dt.datetime.now())
time = dt.datetime.now() - relativedelta(days=30)
time = time.strftime("%Y-%m-%d")
print("time:", time)

2019-07-19 22:47:14.002192
time: 2019-06-19

In [6]:
search_words = ["@SouthwestAir","@VirginAmerica", "@USAirways","@united" , "@Delta", "@AmericanAir","@JetBlue",
                "@AlaskaAir", "@HawaiianAir","@SpiritAirlines","@SkyWestAirlines"]
type(search_words)
ScrapedData = "/Users/Harshitha/Desktop/LargeScaleAnly/Data/ScrapedData.csv"
date_since = "2018-11-16"

In [7]:
# next time exectuing replace date_since with the time variable and check 
def generateTwitterData(Count,search_words):
    index =0 
    df = pd.DataFrame(columns=['User', 'Airlines','Createdtime', 'Text'])
    for word in search_words:
        for tweet in tweepy.Cursor(api.search,q=word,since= date_since, lang = "en",count=100).items(Count):
            if 'created_at' not in tweet._json.keys():
                continue
            created =  tweet.created_at
            
            if 'user' not in tweet._json.keys():
                continue
            user = tweet.user.screen_name
            if 'text' not in tweet._json.keys():
                continue
            text = str(tweet.text.encode('utf-8'))
            df.loc[index] = [user, word, created, text]
            index= index +1
    print('done with generating data')
    return df

In [8]:
TweetCount= int(input('Number of tweets to be extracted- '))

Number of tweets to be extracted- 1000

In [9]:
df = generateTwitterData(TweetCount,search_words)

done with generating data

In [10]:
df.head()

,User,Airlines,Createdtime,Text
0,brendanqf789,@SouthwestAir,2019-07-20 05:45:19,b'RT @AeroimagesChris: 7545 42589 N7206U 737-7...
1,nanceeyy23,@SouthwestAir,2019-07-20 05:44:34,b'@karinaah_09 @SouthwestAir No! But I Wana kn...
2,ashlley,@SouthwestAir,2019-07-20 05:43:02,"b'As much as I love @SouthwestAir, dealing wit..."
3,Flightboy20,@SouthwestAir,2019-07-20 05:42:08,b'@SouthwestAir We did! I hope you find it. ...
4,Browniexp,@SouthwestAir,2019-07-20 05:36:31,b'@SouthwestAir @NintendoAmerica How about one...

In [11]:
df.to_csv(ScrapedData, mode='a',index=False)